/* google fonts - Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

/* resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

/* styling of the header section */

.app-header {
    border-bottom: 2px solid #bde3e1;
    height: 10vh;
    display: flex;
    align-items: center;
}

.app-heading {
    font-weight: 600;
    font-size: 32px;
    padding-left: 40px;
    color: #24A19C;
}

/* styling of the content section */

.content-body {
    display: flex;
    height: 90vh;
}

.app-sidebar {
    flex-basis: 20%;
    padding-left: 40px;
    padding-top: 20px;
    background-color: #e9f6f5;
}

.nav-links li{
    list-style: none;
    font-size: 19px;
    padding: 8px 0;
    padding-left: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    width: 70%;
}


.nav-links li span {
    margin-right: 8px;
    color: #24A19C;
}

.main-content {
    flex-basis: 80%;
    padding-top: 30px;
    padding-left: 40px;
    overflow: scroll;
}

 p {
    font-size: 40px;
}

.project-title {
    font-size: 20px;
    font-weight: 400;
}

.project-list {
    padding-left: 16px;
    padding-top: 4px;
    list-style: none;
}

.project-list li {
    font-size: 18px;
    padding: 4px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.project-list li span {
    font-size: 18px;
    color: #24A19C;
    margin-right: 8px;
}

.add-project-btn, .add-task-btn, .submit-btn {
    display: block;
    margin-left: auto;
    padding: 6px 12px;
    font-family: inherit;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin-top: 12px;
    margin-right: 24px;
    cursor: pointer;
    background-color: #24A19C;
    color: white;
}

.add-task-btn {
    margin-top: 20px;
    margin-left: 0px;
}


/* styling for the modal effect */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

  /* styling of the add task form */

form {
    font-family: inherit;
    padding-left: 50px;
}

form .form-data-container label, form .form-data-container p {
    display: block;
    font-size: 19px;
    width: 130px;
}

form .form-data-container {
    display: flex;
    margin-top: 12px ;
}

form .form-data-container #title,
form .form-data-container #description,
form .form-data-container #project-name {
    width: 350px;
    padding: 4px 8px;
    display: block;
    font-family: inherit;
    font-size: 19px;
    border: 1px solid #24A19C;
}

form .form-data-container #title:focus,
form .form-data-container #description:focus,
form .form-data-container #project-name:focus,
.calender-due-date {
    border: 1px solid #24A19C;
    outline: none;
} 

form .form-data-container #project-name {
    margin-left: 20px;
}

form .form-data-container .priority-radio-btn-group label,
form .form-data-container .save-to-radio-btn-group label {
    display: inline-block;
    width: auto;
    margin: 0 24px 0 4px;
}

.calender-due-date {
    font-size: 18px;
    padding: 4px;
}

.submit-btn {
    margin: 0;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

/* styling of the tasks */

.task-list {
    width: 90%;
}

.intro-heading {
    font-weight: 500;
    padding-bottom: 24px;
}

.task-container {
    border: 1px solid #cccccc;
    width: 80%;
    padding: 20px;
    border-left-width: 6px;
    border-left-color: green;
    cursor: pointer;
    margin-bottom: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.task-title {
    font-size: 22px;
    font-weight: 500;
}

.task-project-name {
    font-size: 18px;
    font-weight: 400;
    color: #24A19C;
}

.task-description {
    font-size: 18px;
    width: 75%;
    color: #333333;
    display: none;
}

.task-description-toggle {
    display: block;
}

.task-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-due-date {
    font-size: 16px;
    color: #24A19C;
}

.icons {
    margin-left: 4px;
    cursor: pointer;
}

.delete {
    color: red;
}

.edit {
    color: blue;
}

.check_circle {
    color: gray;
}
