/* google fonts - Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

/* resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

/* styling of the header section */

.app-header {
    border: 1px solid blue;
    height: 10vh;
    display: flex;
    align-items: center;
}

.app-heading {
    font-weight: 600;
    font-size: 32px;
    padding-left: 40px;
}

/* styling of the content section */

.content-body {
    border: 1px solid;
    display: flex;
    height: 90vh;
}

.app-sidebar {
    border: 1px solid green;
    flex-basis: 22%;
    padding-left: 40px;
    padding-top: 20px;
}

.nav-links li{
    list-style: none;
    font-size: 19px;
    padding: 8px 0;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 4px;
}

.main-content {
    border: 1px solid red;
    flex-basis: 78%;
    padding-top: 30px;
    padding-left: 40px;
}

 p {
    font-size: 40px;
}

.project-title {
    font-size: 20px;
    font-weight: 400;
}

.project-list {
    padding-left: 16px;
    list-style: none;
}

.project-list li {
    font-size: 17px;
    padding: 4px;
    margin-top: 4px;
}

.add-project-btn, .add-task-btn, .submit-btn {
    display: block;
    margin-left: auto;
    padding: 4px 12px;
    font-family: inherit;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.add-task-btn {
    margin-top: 24px;
    margin-left: 0px;
}


/* styling for the modal effect */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

  /* styling of the add task form */

form {
    font-family: inherit;
    padding-left: 50px;
}

form .form-data-container label, form .form-data-container p {
    display: block;
    font-size: 19px;
    width: 130px;
}

form .form-data-container {
    display: flex;
    margin-top: 12px ;
}

form .form-data-container #title,
form .form-data-container #description,
form .form-data-container #project-name {
    width: 350px;
    padding: 4px 8px;
    display: block;
    font-family: inherit;
    font-size: 19px;
}
form .form-data-container #project-name {
    margin-left: 20px;
}

form .form-data-container .priority-radio-btn-group label,
form .form-data-container .save-to-radio-btn-group label {
    display: inline-block;
    width: auto;
    margin: 0 24px 0 4px;
}

.submit-btn {
    margin: 0;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

/* styling of the tasks */

.task-list {
    width: 90%;
}

.intro-heading {
    font-weight: 500;
    padding-bottom: 24px;
}

.task-container {
    border: 1px solid gray;
    width: 80%;
    padding: 20px;
    border-left-width: 6px;
    border-left-color: green;
    cursor: pointer;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.task-title {
    font-size: 22px;
    font-weight: 500;
}

.task-project-name {
    font-size: 18px;
    font-weight: 400;
}

.task-description {
    font-size: 18px;
    width: 75%;
    color: gray;
    display: none;
}

.task-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-due-date {
    font-size: 16px;
}

.icons {
    margin-left: 4px;
    cursor: pointer;
}

.delete {
    color: red;
}

.edit {
    color: blue;
}

.check_circle {
    color: gray;
}
